#drone {
    animation: drone 1s ease-in-out infinite alternate;
}

#smaller-drone {
    animation: drone 1s 0.3s ease-in-out infinite alternate;
}

@keyframes drone {
    from {
        transform: translateY(0vh);
    }

    to {
        transform: translateY(1vh);
    }
}

// #light {
//     transform-origin: center;
//     animation: light 3s linear infinite;
// }

// @keyframes light {
//     from {
//         height: 10px;
//         width: 10px;
//     }

//     to {
//         height: 10px;
//         width: 10px;
//     }
// }

#robot {
    transform-origin: center center;
    animation: robot 2s 0.3s linear forwards bubble;
}

@keyframes robot {
    0% {
        transform: translate(0);
    }


    50% {
        transform: translate(40vw);
    }

    78% {
        transform: translate(1px);
    }

    79% {
        transform: scaleX(-1) translate(22vw);
    }
    
    100% {
        transform: translate(0);
    }
}


// #robot {
//     transform-origin: center center;
//     // transform-origin: ;
//     animation: robot 2s 0.3s linear;
// }
